### Live Coding with the head of NTT data

In [7]:
# Importing stuff
from typing import Final
from pathlib import Path
import pandas as pd

In [16]:
pd.options.plotting.backend = "plotly"

In [17]:
# Defining a Constant so that the file doesn´t change.
FILE: Final = Path("data/Data_insurance.zip")
dataf = pd.read_csv(FILE)

dataf.sample(5)

,ORIGIN,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
7023,test,29,1,2,4,7,1,3,1,5,...,0,0,0,1,0,0,0,0,0,0
3408,train,6,1,3,3,2,1,5,2,3,...,0,0,0,1,0,0,0,0,0,0
2561,train,33,2,3,3,8,0,6,1,3,...,0,0,0,1,0,0,0,0,0,0
5722,train,7,1,2,4,2,4,5,0,0,...,0,0,0,0,0,0,0,0,0,0
6432,test,9,1,4,3,3,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0

In [18]:
# Good coding practice to do as following:
(
    dataf
        .sample(50) # Number of samples
        .iloc[:,range(0,5)] # Looking a specific columns
        .dtypes
)

ORIGIN      object
MOSTYPE      int64
MAANTHUI     int64
MGEMOMV      int64
MGEMLEEF     int64
dtype: object

In [25]:
# You want to make the describe() before 
# dtype
(
    dataf
        #.sample(50) # Number of samples
        #.iloc[:,range(0,5)] # Looking a specific columns
        #.dtypes
        #.describe().T # The T makes the columns the rows.
        .loc[:,["CARAVAN"]]
        .value_counts(normalize=True) #Using normalize for representing the numbers in percentage
)

CARAVAN
0          0.940338
1          0.059662
dtype: float64

In [30]:
# Example of good code as well
accuracy = 0.972883

f"Accuracy is{accuracy: .2%}"

'Accuracy is 97.29%'